<h1>Sawyer's Page</h1>
<h3 class = JT></h3>
       <img src= "https://lh3.googleusercontent.com/V5eogLKGI2Hr5Jr8CCQwwPn2O5bZlXOpEmiz9gBqWQo5yyYTibE6zrnWT0tYif9RMpgsNxo88SDGXe42OKk8T-NFUrQe5w0PFqKtCYeR2aeztHXO3BNLh_N8fS1lu1LIN98oLMVec7tv3KiswdsaaKasC4Y2qmdIRcGhLeEmxZYqeI6Emie222I-wQsJu2dH7r5sHuNk0Usr0bI87STG7egw81uFc22Owzhs82kbkAlglWQWXFmJOb963OGcCWS-08okQn7RsnTd20leg1ZkH3uGCBRhBjpQDxLUniP336cTIDSaREa2MWmQhUhaRAib2F5PiXARtB3EY3PXX1t7L1YFPAI00R2t7pZD0r61GfHmwxs4wB6EFG7AGr5OG9HW6y0BFcZuQiXp_9X7sdaPkFqwZkOAtzmsTxUes4GVaegk6fOj4V52y3ow7Ar_adIVt6Wvor4ldHUHZMqeKA6KB9brfhuJVuLyxbJqGB6uZo8yK9TqvgzXHAqabfgJs26qiPjGHuftNfHC5GbFOXmI1PpipvJMTPvSFtkby99Av54uxiAi01M7CcuStZ8jIV7mUisCo_y4-WenYW-LHqexQYVL8C_A5GFyB75tZ1HgRqyKINdQtfzmQ9Dbi3WXjxqh709ynDOySpva3a3lBFTYxHeM-Q=w1440-h700-no" class = PIC size=75%>
       
       <h4 class = JT>Sawyer's Baptism October 2018</h4>

      <div>
          <a class="btn btn-primary" href="/home" role="button">Home</a>
      <!-- <nav>
          <button routerLink = "/home">Home</button>
        </nav> -->
      </div>       
      <p>
  sawyer works!
</p>


