<h1>Kylie's Page</h1>
<h3 class = JT></h3>
       <img src= "https://lh3.googleusercontent.com/4MlMZ7BojBTCogJL5uKQxuPnrNCaMUXtCu6PsWEWKnM3HPHLq2hj5gA7A0xn7zaVwVcstbnfpTmizmXldhiiC_Tar-iJH53AxobdDYyoEZkxQj9gzrm4WvcSreBshSkHL7rZN_qO76HDP-6gP04VUa-ehSqcNZsw6WoNTuJzp35OX_djIkBFE3Wm_R3U1sURFAPb_d4YEKWuIPTdZbtztmV5g3isUf9EK_S6wJ6o7LgXd5L8INFRZf4zyVBAjF8sxjbMMLCxKMvcd0DtcE-uWdFtI7NhPCMoqBISWKGWPXsO1zITFMtIi1oGlhbLfXifTTKbiU3K_FhhiD-EaumM0sttDTmGsVGJwH-087YCcSaZ50p_w3LzRw31cxe8YvCCeFNLpF7VrZQlak1PhgJH6WlPcXbzBfMSVH8wxRSyr66jHMpRCJm-rbeDJLR-9cN73T7s_bv0nfQXFyZeyhe00ivedIzSeLcOQiFl8g_g3EJ7H3IGMIaMIgwr5vw2tXqw01Cd4r3TA9TcK8YgvexCemhTwkmv753P6aChra8TBYFNvC_eyDcmVNPPvozfOb3OYcNWTADdIfAICgFouUtCvpVr8lzTy27EdiAtOkqfdu4QFej1o5ERL84L7nhOnfGONh-kz9c1igbATLa1D5a0mA0vlA=w1440-h700-no" class = PIC>
       <h4 class = JT>Kylie making Halloween treats!</h4>
       <div>
          <nav class="home-button">
              <button routerLink = "/home" class= "btn btn-secondary">Home</button>
            </nav>
          </div>  
       <p>
  kylie works!
</p>
