<h1>
  Alex's Page!
</h1>
<h3 class = JT></h3>
       <img src= "https://lh3.googleusercontent.com/bxYHYH-BjsOBRCeaYEpGtw-K6nRPxXQLT4PKaKZ7_8lMbTxV4zK6uHmD0qAeo4Fi_h_MSRGzliEh3ydy3xRvM5AYe77ehKS0zUMsad1WAFsySDkQREcS9OHafb-5C1HAB3qPc51VH_cjghNZnZWfFXK4CGLDuaLQIJpAazhdNIMh6HDH-RM-txfvJUkarivJ_CVLtoYMoWs82SsNnCrEqT--MTRaaHFWBpgDplEcjyHWdXTUmG4dRIRWi3bUtHhtEJ6MU9z9vvldCBID87nIhIrqOohz7cTQkl-x7bu829TSeY5cqRzI7uZxzdlGFNu3ej9jWYBT8MikCHqoawxgffZ8vZuCoiUGh19CkTrwqgp3j3OIORuMCjsqIzNIT74uUY3dWV6a_nGHWicgWaDDhKDHcYdjhWZnsFdBmFlyrpzXHlFrmtBj1VTGsktqUEEc-akeaUfDfGN8cv1YnxYONEqlUTGM0-6tdjqlNBY9KPBruQWrtJUEXE4vuRhyZ9u1DXHBdMjs26GFhxVn_NUcjxpazC-c_s_j_vI7GxZRcTFgebdCQyZYcIcoFn-hnScOn_vslUymfwBx0VIpXCK7tlOI1y0unLUEHmxudpefJcpzVHwhCK2N6AHcaU2CwdhVcnGKvXahbDj77lcYe390dW_ToA=w1440-h700-no" class = PIC>
       <h4 class = JT>Alex in her cute sunglasses!</h4>
       <div>
          <nav class="home-button">
              <button routerLink = "/home" class= "btn btn-secondary">Home</button>
            </nav>
          </div>  
