<!--
  <p>
    home works!
  </p>
-->
<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
    &hearts; Meet our Family &hearts;
  </h1>
  <img
    width="600"
    alt="Family Pic"
    src="https://lh3.googleusercontent.com/3uBcNn6phG8QeS54zB95hoYsBRiwGiKMXNEFWKFbgnjj08z5ggsSsG9ojc0Fol8ytF9UxBCBnykhajcCu40ZigllKuU12F9bpVZ9y1_jXbDxoO5PcUP8z3cOvnZW920Ios9u0LkVPPKcaYHGzDxG7elWH67evZIfRjQ-G12w7TPfLHL6zhFmT1ijmCAZ6ktYYoo6xnHwOZl9dU_y25dcHNNn19slLGj5hKhjkhlKUys_uWts71ldbA0KbFw1E8HTifqit0nIE7v3r32AxDP8jhYN04KeqUsb3cMKz2Qd6VvADPm9LboCXJGaRSA-Pekbf7Zu5c52jOMDrxIIU5x2PqWaWQ5CwlFf5xp-RryYji-4Er5FE_dkH-MxKrxtIcpt8Cd7WaP5CH0OeGB73O2xtAO0PDcotofCtj3PyDhzhnyZ_U7M7aqC0tny3DnibiTE_Ipd1W1bt_b1Xlilv4xqWAu-iIOZ4HTAfupkb55T1IVx4x2pC0TwuHlaVtF7aGwhYAe5x_UjBlcJNRTgWaoupoZFngJXEhK7SiUQyP729lgHMtG_sjXfhzQ_3PcReacAOJe6N3POaTi-ol52D3j4gdcwvbg7ro9NRLSlWJ5uLy9dmGlAtgIq26vFFSEzrEIAEaSw0cT3c8SgNRmgfOJHBOioGBIrrhDDWluJgwlwbeXN0mTliaVrliKYCJHuXWrrViDrcaSx6TqFzsxb2jg=w1185-h790-no"
  />

  <h2></h2>
  <ul style="list-style-type:none">
    <li>
      <h2><a target="_current" rel="noopener" href="/cameron">Cameron</a></h2>
    </li>
    <li>
      <h2><a target="_parent" rel="noopener" href="/sawyer">Sawyer</a></h2>
    </li>
    <li>
      <h2><a target="_parent" rel="noopener" href="/kylie">Kylie</a></h2>
    </li>
    <li>
      <h2><a target="_parent" rel="noopener" href="/grayson">Grayson</a></h2>
    </li>
    <li>
      <h2><a target="_parent" rel="noopener" href="/alexia">Alexia</a></h2>
    </li>
  </ul>
</div>
